#nicoleAnn sub {
    font-size: 0.8em;
    text-decoration: underline;
}
body, html {
    font-style: oblique;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Disable scrolling */
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.container h1 {
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer; /* Add cursor pointer for better usability */
    position: absolute; /* Position the h1 element */
    top: 20px; /* Place h1 element 20px from the top */
    left: 20px; /* Place h1 element 20px from the left */
    z-index: 1; /* Ensure h1 is above the background image */
}

.content {
    position: relative; /* Position relative for absolute positioning of h2 */
    padding: 100px;
    border-radius: 10px;
}

.content h2 {
    font-size: 1.5em;
    color: #333;
    position: absolute; /* Position the h2 element */
    top: calc(10% + 50px); /* Place h2 element below h1 element */
    left: 50%; /* Place h2 element horizontally centered */
    transform: translateX(-50%); /* Center the h2 element horizontally */
    display: none; /* Hide content by default */
}

.contact-container {
    position: fixed;
    bottom: 50px; /* Adjust distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px; /* Adjust padding */
    border-radius: 10px;
    text-align: center; /* Center the contact info */
}

.contact-info h3 {
    margin-top: 0;
}

.contact-info p {
    margin: 10px 0; /* Adjust margin for contact info */
}
